a{
    color: #000;
}
.home-body {
    padding: 4rem 0;
}
.home_body_header > h1{
    font-size: 4.2rem;
    color: #000;
    font-weight: 600;
}
.home_body_header > p{
    font-size: 2rem;
    color: #000;
    margin: 2rem 0rem;
    word-spacing: 0.1rem;
}
.main_home_body h2 {
    font-size: 3rem;
    margin: 3rem 0rem;
}
.home_blog_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.home_blog_card{
    background-color: #EAEAEA;
    margin-bottom: 3rem;
}
.card_header{
    width: auto;
    height: 30rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card_header > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input[type="button"] {
    border: none;
    background: #0066F9;
    color: #ffffff;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    position: absolute;
    left: 41%;
    top: -2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.input[type="button"]:hover{
background-color: #000;
}
.card_body {
    position: relative;
    padding: 3rem 0rem 3rem 2rem;
}
.card_body p {
    font-size: 1.6rem;
}

.card_body > h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0rem;
}

.card_body > h3 {
    font-size: 1.8rem;
}
.all_post{
    font-size: 2rem;
    color: #000;
}